<h1>About Us!</h1>
<p>I am a CIO at a medium-sized FQHC in southern California. I have worked in Healthcare technology for about 15 years. I have a blog called <a href="http://www.oddopinions.com/" target="_blank">Odd Opinions</p>