<div class="jumbotron">
    <div class="container">
        <h1>Blog</h1>
        <p>You can learn how to create your plan by taking courses at <a href="http://www.learnplanning.com/" target="_blank">Learn Planning</a>.</p>
    </div>
</div>