<div class="jumbotron">
    <div class="container">
    	<h1>Contact us</h1>
		<p>You can contact us on Twitter @<a href="https://twitter.com/OddlyOpinions" target="_blank">Odd Opinions</a></p>
	</div>
</div>