<div class="jumbotron">
    <div class="container">
    	<h1>Details</h1>
	</div>
</div>
<div class="container">
    <div class='row'>
    	<div class='col-md-4'>
			<div class="card">
			  <img class="card-img" src="assets/you.jpg" alt="Business Plan" class="float-xs-left" style="width:100%;height:auto;">
			  <div class="card-block">
			  	<h4 class="card-title">Business Plan</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class='row'>
    	<div class='col-md-4'>
			<div class="card">
			  <img class="card-img" src="assets/you.jpg" alt="Business Plan" class="float-xs-left" style="width:100%;height:auto;">
			  <div class="card-block">
			  	<h4 class="card-title">Marketing Plan</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class='row'>
    	<div class='col-md-4'>
			<div class="card">
			  <img class="card-img" src="assets/you.jpg" alt="Business Plan" class="float-xs-left" style="width:100%;height:auto;">
			  <div class="card-block">
			  	<h4 class="card-title">Strategic Plan</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
