<% if user_signed_in? %>
    <h1>Welcome back!</h1>
<% else %>
<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to Plan This</h1>
        <p>Plan This is a web application that can be used to create Business Plans, Marketing Plans and Strategic Plans.</p>
        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<% end %>
<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Business Plan</h4>
          <p class="card-text">Create a Business Plan for your business. If you have a new business creating a Business Plan can help you develop a road map for your business's success.</p>
          <p><%= link_to "View details", "#", class: "btn btn-primary" %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Marketing Plan</h4>
          <p class="card-text">Create a Marketing Plan to grow your brand, develop a new revenue stream or grow your business. A Marketing Plan will provide you with a better understanding of your customer's needs from your business.</p>
          <p><%= link_to "View details", "#", class: "btn btn-primary" %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Strategic Plan</h4>
          <p class="card-text">Create a Strategic Plan in order to understand your business's competitors, your business's strengths and weaknesses and identify new opportunities and finally fix gaps in your business.</p>
          <p><%= link_to "View details", "#", class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>