<h1>Welcome to Plan This</h1>
<p>Plan This is a web app that will allow startups and established businesses to develop one or more of the following plans: Business Plan, Marketing Plan and Strategic Plan</p>
